<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
*************************************************************************
**  Copyright (c) 2019 CentraleSupélec & EDF.
**  All rights reserved. This program and the accompanying materials
**  are made available under the terms of the Eclipse Public License v2.0
**  which accompanies this distribution, and is available at
**  https://www.eclipse.org/legal/epl-v20.html
** 
**  This file is part of the RiseClipse tool
**  
**  Contributors:
**      Computer Science Department, CentraleSupélec
**      EDF R&D
**  Contacts:
**      dominique.marcadet@centralesupelec.fr
**      aurelie.dehouck-neveu@edf.fr
**  Web site:
**      http://wdi.supelec.fr/software/RiseClipse/
*************************************************************************
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61970cim17v16_iec61968cim13v10 -->
      <package
            uri="http://iec.ch/TC57/2016/CIM-schema-cim17"
            class="fr.centralesupelec.edf.riseclipse.cim.cim17.iec61970cim17v16_iec61968cim13v10.cim.CimPackage"
            genModel="model/iec61970cim17v16_iec61968cim13v10.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated iec61970cim17v16_iec61968cim13v10 -->
      <parser
            type="cim17"
            class="fr.centralesupelec.edf.riseclipse.cim.cim17.iec61970cim17v16_iec61968cim13v10.cim.util.CimResourceFactoryImpl"/>
   </extension>

   <extension
         point="fr.centralesupelec.edf.riseclipse.main.meta_models">
      <meta_model
            name="IEC61970 CIM17 (v16) and IEC 61968 CIM13 (v10)"
            resourceFactory="fr.centralesupelec.edf.riseclipse.cim.cim17.iec61970cim17v16_iec61968cim13v10.cim.util.CimResourceFactoryImpl"
            resourceSetFactory="fr.centralesupelec.edf.riseclipse.cim.cim17.iec61970cim17v16_iec61968cim13v10.cim.util.CimResourceSetFactory"
            uri="http://iec.ch/TC57/2016/CIM-schema-cim17">
      </meta_model>
   </extension>
</plugin>
